.debug {
  background-color: red;
}
.debug [class*=header-] {
  border: 2px solid white;
  min-height: 200px;
  background: black;
}
.debug [class*=col-] {
  border: 2px solid orange ;
  min-height: 100px;
  background-color: green
}
.debug section {
  border: 2px solid purple ;
  background-color: yellow;
  min-height: 100px;
}
.debug footer {
  border: 2px solid purple ;
  min-height: 100px;
}

/* used */
section {
  text-align: center;
}
.bg-grey {
  background-color: #F3F5F9;
}
.bg-lightblue {
  color: white;
  background-image: linear-gradient(to bottom ,#0041BB, #00209B);
}
/* /used */

/* header */
/* fixed bar */
.header-top {
  height: 66px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: #FFFFFF;
}
.header-top .col-xs-4 {
  height: 66px;
}
.header-top a {
  line-height: 66px;
}
.header-top a img {
  height: 28px;
}
/* /fixed bar */

#fish-bg {
  margin-top: 66px;
  padding: 40px 0;
  color: white;
  background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  background-size: cover;
}
/* form */
#form {
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  color: black;
}
#form h2:nth-child(1n+2) {
  color: #006AFF;
}
.btn-size {
  margin-bottom: 5px;
  width: 100%
}
/* /form */
/* /header */

/* main */
.img-cust {
  padding: 60px 0;
  text-align: center;
}
.img-container {
  margin: 60px 0;
}
.img-container img {
  padding: 0 30px;
  width: calc((100% / 6) - 60px);
}

/* get start */
#get-start {
  padding: 15px 0;
}

.btm_color {
  font-weight: 700;
  color: #006AFF;
  margin-bottom: 5px;
}
/* /get start */
/* /main */

/* footer */
footer {
  padding: 20px 0;
  background-color: #010E28;
  color: #80746A;
}
footer img {
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .img-container img {
    padding: 0 10px;
    width: calc((100% / 2) - 20px);
  }
}

@media screen and (max-width: 767px) {
  .img-container img {
    padding: 0 10px;
    width: calc((100% / 2) - 20px);
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .img-container img {
    padding: 0 10px;
    width: calc((100% / 3) - 20px);
  }
}
