.debug {
  background-color: red;
}
.debug [class*=header-] {
  border: 2px solid white;
  min-height: 200px;
  background: black;
}
.debug [class*=col-] {
  border: 2px solid orange ;
  min-height: 100px;
  background-color: green
}
.debug section {
  border: 2px solid purple ;
  background-color: yellow;
  min-height: 100px;
}
.debug footer {
  border: 2px solid purple ;
  min-height: 100px;
}

/* used */
section {
  text-align: center;
}
/* /used */

/* main */
.img-cust {
  padding: 60px 0;
  text-align: center;
  background-color: #F3F5F9;
}
.img-container {
  margin: 60px 0;
  background-color: blue;
}
.img-container img {
  padding: 0 30px;
  width: calc((100% / 6) - 60px);
}


/* footer */
footer {
  background-color: #010E28;
}

@media screen and (max-width: 767px) {
  .img-container img {
    padding: 0 10px;
    width: calc((100% / 2) - 20px);
  }
}

@media screen and (max-width: 767px) {
  .img-container img {
    padding: 0 10px;
    width: calc((100% / 2) - 20px);
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .img-container img {
    padding: 0 10px;
    width: calc((100% / 3) - 20px);
  }
}
